@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.frameCont {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: #3579F5;
    width: 743px;
    height: 91px;
    box-sizing: border-box;
    border-radius: 10px;
    gap: 16px;
;
}

.roundIndicationCont {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-90deg);
    overflow: visible;

    svg {
        position: absolute;
        /*top: -.5px;*/
        top: 0;
        left: 0;
        fill: none;
        overflow: visible;
    }
    circle {
        --offsetVar: 2;
        --dashArrayVar: 191.6;
        stroke-dasharray: var(--dashArrayVar);
        stroke-dashoffset: calc((100 - var(--offsetVar)) * var(--dashArrayVar) / 100);
        stroke-width: 2px;
        stroke-linecap: round;
    }
}

.indicatorValue {
    transform: rotate(90deg);
}

.info {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    p {
        margin: 0;
    }
}

.checklist {
    border-radius: 40px;
    width: 76px;
    background-color: #2364DB;
    text-align: center;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.completionStat {
    font-weight: 600;
    font-size: 15px;

}

.openButton {
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
    color: #4777ED;
    font-size: 14px;
    padding: 10px 32px 10px 32px;
    width: 170px;
    white-space: nowrap;
    margin-left: auto;
}

